<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="60">
<title>Hypershift Cluster Pool Status</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>

</style>
</head>
<body>
<div class="container">
	<p>Last updated {{ .UpdateTime }}</p>
	{{ range .Pools }}
	<h3>{{ .Name }} Cluster Pool</h3>
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">Size</th>
				<th scope="col">Standby</th>
				<th scope="col">Ready</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ .Size }}</td>
				<td>{{ .Standby }}</td>
				<td>{{ .Ready }}</td>
			</tr>
		</tbody>
	</table>
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">InfraID</th>
				<th scope="col">PowerState</th>
				<th scope="col">Prow</th>
			</tr>
		</thead>
		<tbody>
			{{ range .Deployments}}
			<tr>
				<td scope="row"><a href="https://console.aws.amazon.com/ec2/v2/home?region=us-east-1#Instances:v=3;search=:{{ .InfraID }}">{{ .InfraID }}</a></td>
				<td>{{ .PowerState }}</td>
				{{ if .Claim }}
				<td><a href="{{ .Claim.Job.URL }}">{{ .Claim.Job.Name }}</a>{{ if .Claim.Job.PullRef}} - {{ .Claim.Job.PullRef.Author }} (<a title="{{ .Claim.Job.PullRef.Title }}" href="{{ .Claim.Job.PullRef.Link }}">{{ .Claim.Job.PullRef.Number }}</a>){{ end }}{{ if .Claim.Job.State }} - {{ .Claim.Job.State }}{{ end }}</td>
				{{ else }}
				<td></td>
				{{ end }}
			</tr>
			{{ end }}
		</tbody>
	</table>
	<div class="container-fluid">
		<p>Pending Cluster Claims</p>
		<ul>
		{{ range .PendingClaims }}
			<li><a href="{{ .Job.URL }}">{{ .Job.Name }}</a>{{ if .Job.PullRef}} - {{ .Job.PullRef.Author }} (<a title="{{ .Job.PullRef.Title }}" href="{{ .Job.PullRef.Link }}">{{ .Job.PullRef.Number }}</a>){{ end }}{{ if .Job.State }} - {{ .Job.State }}{{ end }}</li>
		{{ end }}
		</ul>
	</div>
	{{ end }}
</div>
</body>
</html>