<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="60">
<title>Hypershift Cluster Pool Status</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>

</style>
</head>
<body>
<div class="container-fluid">
	<p>Last updated {{ .UpdateTime }}</p>
	{{ range .Pools }}
	<h3>{{ .Name }} Cluster Pool</h3>
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">Size</th>
				<th scope="col">MaxSize</th>
				<th scope="col">Unclaimed</th>
				<th scope="col">Ready</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ .Size }}</td>
				<td>{{ .MaxSize }}</td>
				<td>{{ .Unclaimed }}</td>
				<td>{{ .Ready }}</td>
			</tr>
		</tbody>
	</table>
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th scope="col">InfraID</th>
				<th scope="col">Status</th>
				<th scope="col">PowerState</th>
				<th scope="col">ProwState</th>
				<th scope="col">Prow</th>
			</tr>
		</thead>
		<tbody>
			{{ range .Deployments}}
			<tr>
				<td scope="row"><a href="https://console.aws.amazon.com/ec2/v2/home?region=us-east-1#Instances:v=3;search=:{{ .InfraID }}">{{ .InfraID }}</a></td>
				<td>{{ .Status }}</td>
				<td>{{ .PowerState }}</td>
				<td>{{ .ProwState }}</td>
				{{ if .ProwJob }}
				<td><a href="{{ .ProwURL }}">{{ .ProwJobName }}</a>{{ if .ProwPullAuthor}} - {{ .ProwPullAuthor }} (<a title="{{ .ProwPullTitle }}" href="{{ .ProwPullLink }}">{{ .ProwPullNumber }}</a>){{ end }}</td>
				{{ else }}
				<td>Unclaimed</td>
				{{ end }}
			</tr>
			{{ end }}
		</tbody>
	</table>
	{{ end }}
</div>
</body>
</html>